@media (min-width :900px) {
    .container {
        max-width: 900px;
    }
h2 {
    color: #ff022c;
}

}


@media (min-width :1500px) {
    .container {
        max-width: 1300px;
    }
h2 {
    color: #ff022c;
}
}
 
 body {
    background-color: rgba(19, 14, 14, 0.027);
}

.container {
    background-color: rgb(236, 235, 235);
    height: 1600px;
    width: 1200px;
    margin: 25px 200px;
}

.row {
    border: black solid 3px;
    height: 1500px;
    width: 1000px;
    margin: 45px 85px;
    border-radius: 15px;
}

#logo {
    position: relative;
    margin-top: -85px;
    margin-left: 10px;
    padding: 2px;
}

#logo1 {
    position: relative;
    margin-top: -160px;
    margin-left: 810px;
    padding: 2px;
}

#intro {
    font-size: large;
}

.aside {
    position: relative;
    margin-top: -1360px;
    margin-left: 100px;
}

span,
h2,
button {
    color: #ff022c;
}

#slogan,
span {
    font-size: x-large;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.row2 {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

img {
    clip-path: circle();
}

button {
    text-align: center;
}

.pizzaName {
    background-color: wheat;
    height: 190px;
    width: 200px;
    padding-left: 20px;
    border-collapse: collapse;
    border-radius: 5px;
    display: none;
}

.order {
    display: flex;
    flex-wrap: 0px;
    width: 180px;
}

#form {
    margin-left: 450px;
    margin-top: 100px;
}

select {
    width: 105px;
    height: 25px;
}